---
import Layout from '@/layouts/Layout.astro';
import Header from '@/composites/Header.astro';
import Button from '@/components/Button';
import WidthLimiter from '@/components/WidthLimiter.astro';
import IconArrowForwardRounded from '~icons/material-symbols/arrow-forward-rounded';
---

<Layout title='Welcome to Astro.'>
  <Header />
  <div>
    <WidthLimiter>
      <div class='flex flex-col md:flex-row'>
        <div class='grow flex flex-col justify-center items-center md:items-start gap-2 h-40'>
          <p class='text-3xl font-bold ml-0 md:ml-16'>snapperbay4453</p>
          <p class='text-2xl font-bold ml-0 md:ml-16'>Web frontend developer</p>
        </div>
        <div class='grow flex justify-center items-start md:items-center gap-2 h-20 md:h-40'>
          <Button
            onClick='https://github.com/snapperbay4453/snapperbay4453.github.io'
            client:visible
          >
            <IconArrowForwardRounded style={{ display: 'inline-block', color: 'white' }} />
            Show blog repository
          </Button>
        </div>
      </div>
    </WidthLimiter>
  </div>
</Layout>
