---
import Layout from '@/layouts/Layout.astro';
import Header from '@/composites/Header.astro';
import AstroLogo from '@/components/AstroLogo.astro';
import Button from '@/components/Button';
import WidthLimiter from '@/components/WidthLimiter.astro';
---

<Layout title='Welcome to Astro.'>
  <Header />
  <WidthLimiter>
    <Button
      onClick='https://github.com/snapperbay4453/snapperbay4453.github.io'
      client:visible
    >
      Show repository
    </Button>
    <AstroLogo class='mx-auto' />
  </WidthLimiter>
</Layout>
