---
import RootLayout from '@/layouts/RootLayout.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import BottomFloatingLayout from '@/layouts/BottomFloatingLayout.astro';
import Header from '@/composites/Header.astro';
import Button from '@/components/Button';
import ThemeChanger from '@/composites/ThemeChanger.astro';
---

<RootLayout title={`${'About'} - snapperbay4453`}>
  <Header />
  <MainLayout>
    <div class='flex flex-col sm:flex-row'>
      <div class='grow flex flex-col justify-center items-center sm:items-start gap-2 h-40 sm:w-1/2'>
        <p class='text-3xl font-bold ml-0 sm:ml-16'>snapperbay4453</p>
        <p class='text-2xl font-bold ml-0 sm:ml-16'>Web frontend developer</p>
      </div>
      <div class='grow flex justify-center items-start sm:items-center gap-2 h-20 sm:h-40 sm:w-1/2'>
        <Button
          onClick='https://github.com/snapperbay4453/snapperbay4453.github.io'
          client:visible
        >
          Show blog repository
          <i class='icon-[material-symbols--arrow-forward-rounded] bg-zinc-100'></i>
        </Button>
        <Button
          onClick='/lab'
          client:visible
        >
          Lab
          <i class='icon-[material-symbols--arrow-forward-rounded] bg-zinc-100'></i>
        </Button>
      </div>
    </div>
  </MainLayout>
  <BottomFloatingLayout>
    <div slot='right'>
      <ThemeChanger />
    </div>
  </BottomFloatingLayout>
</RootLayout>
