---
import Layout from '@/layouts/Layout.astro';
import Header from '@/composites/Header.astro';
import AstroLogo from '@/components/AstroLogo.astro';
import WidthLimiter from '@/components/WidthLimiter.astro';
---

<Layout title='Welcome to Astro.'>
  <Header />
  <WidthLimiter>
    <p>Show <a href='https://github.com/snapperbay4453/snapperbay4453.github.io'>repository</a></p>
    <AstroLogo class='mx-auto' />
  </WidthLimiter>
</Layout>
