---
import RootLayout from '@/layouts/RootLayout.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import BottomFloatingLayout from '@/layouts/BottomFloatingLayout.astro';
import TitleAndBodyBannerLayout from '@/layouts/TitleAndBodyBannerLayout.astro'
import Header from '@/composites/Header.astro';
import Button from '@/components/Button';
import FloatingActionButtonGroup from '@/components/FloatingActionButtonGroup';
import ThemeChanger from '@/composites/ThemeChanger.astro';
---

<RootLayout title={`${'About'} - snapperbay4453`}>
  <Header />
  <MainLayout>
    <TitleAndBodyBannerLayout
      title='snapperbay4453'
      subtitle='Web frontend developer'
    >
      <Button
        onClick='https://github.com/snapperbay4453/snapperbay4453.github.io'
        client:visible
      >
        Show blog repository
        <i class='icon-[material-symbols--arrow-forward-rounded] text-zinc-100'></i>
      </Button>
      <Button
        onClick='/lab'
        client:visible
      >
        Lab
        <i class='icon-[material-symbols--arrow-forward-rounded] text-zinc-100'></i>
      </Button>
    </TitleAndBodyBannerLayout>
  </MainLayout>
  <BottomFloatingLayout>
    <div slot='fab'>
      <FloatingActionButtonGroup client:load>
        <ThemeChanger />
      </FloatingActionButtonGroup>
    </div>
  </BottomFloatingLayout>
</RootLayout>
