---
import RootLayout from '@/layouts/RootLayout.astro';
import BottomFloatingLayout from '@/layouts/BottomFloatingLayout.astro';
import Header from '@/composites/Header.astro';
import Markdown from '@/components/Markdown';
import Button from '@/components/Button';
import LeftSidebarAndMainLayout from '@/layouts/LeftSidebarAndMainLayout.astro';
import PageScroller from '@/composites/PageScroller.astro';
import ThemeChanger from '@/composites/ThemeChanger.astro';
import FloatingActionButtonGroup from '@/components/FloatingActionButtonGroup';
import VerticalBreadcrumbs from '@/components/VerticalBreadcrumbs';
import {
  getParentPath,
  isAdjacentPath,
  getAllArticles,
  createBreadcrumbs,
} from '@/utils/path';
import type { Article } from '@/types/file';

export async function getStaticPaths() {
  const allArticles = getAllArticles();
  return allArticles.map(({ path, title, Content, rawContent }) => ({
    params: {
      slug: path
    },
    props: {
      pathNode: {
        path,
        parentPath: getParentPath(path),
      },
      article: {
        title,
        Content,
        rawContent,
      },
      allArticles,
    },
  }));
}

const { pathNode, article, allArticles } = Astro.props;
const adjacentArticles = allArticles.filter((currentArticle: Article) => isAdjacentPath(pathNode.path, currentArticle.path));
const breadcrumbs = createBreadcrumbs(pathNode.parentPath)
---

<RootLayout title={`${article.title} - snapperbay4453`}>
  <Header />
  <LeftSidebarAndMainLayout>
    <div slot='left-sidebar'>
      <VerticalBreadcrumbs
        basePath='/directories'
        breadcrumbs={breadcrumbs}
        client:visible
      />
    </div>
    <section>
      <div class='mt-4'>
        <Markdown
          rawContent={article.rawContent}
          client:load
        />
      </div>
      
      <div class='flex justify-center items-center gap-4 mt-4'>
        <Button
          onClick={
            pathNode.path
            ? `/directories/${pathNode.parentPath}`
            : undefined
          }
          client:visible
        >
          <i class='icon-[material-symbols--arrow-back-rounded]'></i>
          <span class='truncate'>뒤로가기</span>
        </Button>
      </div>
    </section>
  </LeftSidebarAndMainLayout>
  <BottomFloatingLayout>
    <div slot='right'>
      <PageScroller />
    </div>
    <div slot='fab'>
      <FloatingActionButtonGroup client:load>
        <ThemeChanger />
      </FloatingActionButtonGroup>
    </div>
  </BottomFloatingLayout>
</RootLayout>
