---
import RootLayout from '@/layouts/RootLayout.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import BottomFloatingLayout from '@/layouts/BottomFloatingLayout.astro';
import TitleAndBodyBannerLayout from '@/layouts/TitleAndBodyBannerLayout.astro'
import ArticleSearchBar from '@/composites/ArticleSearchBar.astro';
import Header from '@/composites/Header.astro';
import ThemeChanger from '@/composites/ThemeChanger.astro';
import Button from '@/components/Button';
import FloatingActionButtonGroup from '@/components/FloatingActionButtonGroup';
---

<RootLayout title={`${'Home'} - snapperbay4453`}>
  <Header />
  <MainLayout>
    <TitleAndBodyBannerLayout
      title='ë°˜ê°‘ìŠµë‹ˆë‹¤ðŸ‘‹'
      subtitle='ì´ê³³ì€ ì œ ì§„ë¦¬ì˜ ì›ì²œìž…ë‹ˆë‹¤.'
    >
      <Button
        onClick='/directories'
        client:visible
      >
        Posts
        <i class='icon-[material-symbols--arrow-forward-rounded] text-zinc-100'></i>
      </Button>
      <Button
        onClick='/about'
        client:visible
      >
        About
        <i class='icon-[material-symbols--arrow-forward-rounded] text-zinc-100'></i>
      </Button>
    </TitleAndBodyBannerLayout>
    <div class='flex flex-col items-center'>
      <p class='text-3xl font-bold'>ê²€ìƒ‰</p>
      <div class='mt-4'>
        <ArticleSearchBar />
      </div>
    </div>
  </MainLayout>
  <BottomFloatingLayout>
    <div slot='fab'>
      <FloatingActionButtonGroup client:load>
        <ThemeChanger />
      </FloatingActionButtonGroup>
    </div>
  </BottomFloatingLayout>
</RootLayout>
