---
import RootLayout from '@/layouts/RootLayout.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import TitleAndImageBannerLayout from '@/layouts/TitleAndImageBannerLayout.astro';
import BottomFloatingLayout from '@/layouts/BottomFloatingLayout.astro';
import Header from '@/composites/Header.astro';
import PageScroller from '@/composites/PageScroller.astro';
import ThemeChanger from '@/composites/ThemeChanger.astro';
import FloatingActionButtonGroup from '@/components/FloatingActionButtonGroup';
import Card from '@/components/Card';

interface AppLink {
  title: string;
  description: string;
  path: string;
}
const appsLink: AppLink[] = [
  {
    title: 'i18n-xlsx-to-json-directory',
    description: 'XLSX 및 JSON 디렉토리 간 변환',
    path: '/apps/i18n-xlsx-to-json-directory',
  }
];

---

<RootLayout title={`${'웹 애플리케이션'} - snapperbay4453`}>
  <Header />
  <MainLayout>
    <TitleAndImageBannerLayout
      title='웹 애플리케이션'
      subtitle={`총 ${appsLink.length}개의 웹 애플리케이션이 있습니다.`}
      imagePath='/images/logos/web-application-logo.png'
    />
    <div class='flex gap-4 justify-center flex-wrap'>
      {appsLink.map((appLink: AppLink) => (
        <Card
          onClick={appLink.path}
        >
          <div class={`
            h-32 w-80 max-w-[80vw]
            px-4 py-2
          `}>
            <div class='text-lg font-bold'>
              {appLink.title}
            </div>
            <div class='mt-2'>
              {appLink.description}
            </div>
          </div>
        </Card>
      ))}
    </div>
  </MainLayout>
  <BottomFloatingLayout>
    <div slot='right'>
      <PageScroller />
    </div>
    <div slot='fab'>
      <FloatingActionButtonGroup client:load>
        <ThemeChanger />
      </FloatingActionButtonGroup>
    </div>
  </BottomFloatingLayout>
</RootLayout>
