---

---

<div class='fixed left-4 right-4 bottom-4 flex justify-center'>
  <div>
    <slot name='left'/>
  </div>
  <div>
    <slot name='center'/>
  </div>
  <div class={`
    fixed right-4 bottom-4
    flex gap-2
  `}>
    <slot name='right'/>
    <slot name='fab'/>
  </div>
</div>
