---

---

<div class='max-w-5xl mx-auto px-4 pb-16 5xl:px-0'>
  <div class='sm:flex py-4'>
    <aside class='sm:w-[12rem] sm:min-w-[12rem]'>
      <slot name='left-sidebar' />
    </aside>
    <main class='sm:w-[calc(100%-12rem)] mt-2 sm:mt-0 ml-0 sm:ml-4'>
      <slot />
    </main>
  </div>
</div>
