---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description'>
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='stylesheet' href='/styles/github-markdown.css'>
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
  	<script src='/scripts/fontfaceobserver.standalone.js' type='text/javascript'></script>
		<script>
			var html = document.documentElement;
			var font = new FontFaceObserver('Nanum Gothic');
			html.classList.add('fonts-loading');
			font.load().then(function () {
				html.classList.remove('fonts-loading');
				html.classList.add('fonts-loaded');
			}).catch(function () {
				html.classList.remove('fonts-loading');
				html.classList.add('fonts-failed');
			});
		</script>
		<script defer>
			var html = document.documentElement;
			if(!('theme' in localStorage)) {
				if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
					localStorage.theme = 'dark';
				} else {
					localStorage.theme = 'light';
				}
			}
			if (localStorage.theme === 'auto' || (!('theme' in localStorage))) {
				if(window.matchMedia('(prefers-color-scheme: dark)').matches) {
					html.classList.add('dark')
				} else {
					html.classList.remove('dark')
				}
			} else if(localStorage.theme === 'dark') {
				html.classList.add('dark')
			} else if(localStorage.theme === 'light') {
				html.classList.remove('dark')
			}
		</script>
		<!-- Google tag (gtag.js) -->
		<script async src=`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.G_ANALYTICS_ID}`></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', import.meta.env.G_ANALYTICS_ID);
		</script>
	</head>
	<body class='bg-zinc-100 dark:bg-zinc-900 text-black dark:text-white'>
		<h1 class='sr-only'>snapperbay4453.github.io</h1>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
    font-family: Nanum Gothic;
    src: local('Nanum Gothic'),
		     url('/fonts/nanum-gothic-regular.woff2') format('woff2'),
         url('/fonts/nanum-gothic-regular.woff') format('woff'),
         url('/fonts/nanum-gothic-regular.ttf') format('truetype');
  	font-display: fallback;
	}
	@font-face {
		font-family: Sans;
		font-size: 16px;
		line-height: 1.6;
		letter-spacing: -0.9px;
		word-spacing: -0.15px;
		font-weight: 400;
		visibility: visible;
	}
	html {
		font-family: Nanum Gothic, Sans, sans;
		height: 100%;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	body {
		background-image: url('/images/backgrounds/triangle-tssellation.png');
		background-position: top right;
		background-size: auto 250px;
		background-repeat: no-repeat;
		opacity: 1;
	}
	.fonts-loading body {
		opacity: 0;
	}
	.fonts-loaded body,
	.fonts-failed body {
		opacity: 1;
		transition: opacity 250ms ease-in-out;
	}
</style>
