---
const { title, subtitle } = Astro.props;
---

<div class='max-w-2xl mx-auto sm:p-4 5xl:px-0'>
  <div class='flex flex-col sm:flex-row mx-auto'>
    <div class='grow flex flex-col justify-center items-center sm:items-start gap-2 flex-wrap h-40 sm:w-1/2'>
      <p class='text-3xl font-bold text-center sm:text-left'>{title ?? ''}</p>
      <p class='text-2xl font-bold text-center sm:text-left'>{subtitle ?? ''}</p>
    </div>
  </div>
</div>
